<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.epss.dao.UserMapper">
    <select id="selectOne" resultType="vip.epss.domain.User">
        select * from user where uid=#{value}
    </select>
</mapper>