/* 回到顶部按钮的样式 */
.scrollTopZone {
    z-index: 8;
    margin: 0;
    position: fixed;
    right: 3rem;
    bottom: 8rem;
    cursor: pointer;
    width: 0rem;
    height: 0rem;
    background: rgba(0, 151, 255, 1);
    color: rgba(0, 151, 255, 1);
    font-size: 2rem;
    text-align: center;
}

/*底部主导航*/
.mainNav {
    border-top: rgba(221, 221, 221, 1) 1px solid;
    background-color: rgba(255, 255, 255, 1);
}

.mainNav i {
    display: block;
    margin: 0.4rem;
    font-size: 2rem;
}

/*顶部*/
.topBanner {
    background-color: rgba(0, 151, 255, 1);
    overflow: auto;
}

/*地理信息*/
.currentLoc {
    height: 60px;
    line-height: 60px;
}

.foodCategoryTemp img {
    display: block;
}

/*弹出窗口提示*/

.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 300px;
    max-width: 600px;
    transform: translate(-50%, -50%);
    z-index: 99999;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}