<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!--    加载数据库配置-->
    <properties resource="db.properties"></properties>
    <!--    加载数据库驱动包-->
    <!--    <classPathEntry location=""/>-->
    <context id="mysql" targetRuntime="MyBatis3">

        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <!--        1 通用配置-->
        <commentGenerator>
            <!--            阻止生成注释-->
            <property name="suppressAllComments" value="true"/>
            <!--            阻止生成的注释包含时间戳-->
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!--        2 数据库连接-->
        <jdbcConnection driverClass="${jdbc.driverClass}"
                        connectionURL="${jdbc.jdbcUrl}"
                        userId="${jdbc.user}"
                        password="${jdbc.password}"/>
        <!--        3 指定javaBean的生成位置-->
        <javaModelGenerator targetPackage="vip.epss.domain" targetProject="./src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaModelGenerator>
        <!--        4 指定mapper的接口文件的位置-->
        <sqlMapGenerator targetPackage="vip.epss.dao" targetProject="./src/main/java">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--        5 指定mapper的脚本文件位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="vip.epss.dao" targetProject="./src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!--        6 指定数据表的生成策略-->
        <!--        <table tableName="user" domainObjectName="User"/>-->
        <table tableName="customer" domainObjectName="Customer">
            <!--            忽略部分字段的生成-->
            <ignoreColumn column="up_time"></ignoreColumn>
        </table>
    </context>
</generatorConfiguration>